*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kurenaido';
    font-size: 20px;
    
}

body{
    width: 100%;
    height: auto;
    display: flex;
    border-color: white;
    border-style:solid;
    border-width: 5px 5px;
    margin: 0px;
    box-sizing: margin-box;
}

#bodyleft{
    text-align: center;
    background-color: rgb(34, 106,129);
    flex:1;
    padding: 20px;
    height: auto;
    color:white;
}

#bodyright{
    flex:2;
    display:relative;
}

#bodyleft #img{
    display: inline-block;
    margin-top: 100px;
    border: 3px dashed white;
    border-radius:50%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%; 
}

#bodyleft h1{
    margin: 30px;
    font-size: 40px;
    border: white 3px dashed;
}
#bodyleft #information{
    padding: 30px;
    text-align: left;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
}
#bodyleft #information #navigation ul li
{
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
}
#bodyleft #information_technology{
    padding: 30px;
    text-align: left;
    display: flex;
}

#bodyleft #information_technology #navigation{
    flex:1;

}

#bodyleft #information_technology #row{
    flex:2;
}

#bodyleft #information_technology #navigation ul li
{
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
}

#bodyleft #information_technology #row ul li
{
    list-style: none;
    height: 33px;
    box-sizing:border-box;
    padding: 10px 0 10px 0;
    background-clip: content-box;
    background-color: yellow;
}

#bodyleft #khac
{
    text-align: left;
    margin-left: 30px;
}

#bodyleft #English
{
    padding:30px;
    text-align: left;
    display: flex;
}

#bodyleft #English #navigation
{
    flex:1;
}

#bodyleft #English #row
{
    flex:2;
}

#bodyleft #English #navigation ul li
{
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
}

#bodyleft #English #row ul li
{
    list-style: none;
    height: 33px;
    box-sizing:border-box;
    padding: 10px 0 10px 0;
    background-clip: content-box;
    background-color: yellow;
}

#bodyleft #Reference
{
    text-align: left;
    padding: 50px;
}

#bodyleft #Reference .navigation ul li
{
    margin-top: 10px;
    font-size: 25px;
    list-style-type: "-  ";
}

#bodyright h1{
    margin: 100px 200px 20px 200px;
    font-size: 100px;
    color:rgb(34, 106,129) ;
    text-align: center;
}

#bodyright p
{
    color: black;
}

#bodyright #ten p
{
    color: rgb(34, 106,129);
    text-align: center;
    font-size: 40px;
}

.hr{
    margin:auto;
}

#bodyright h2{
    margin: 40px 120px 40px 120px;
    font-size: 60px;
    color:rgb(34, 106,129) ;
    text-align: center;
    border:rgb(34, 106,129) 3px solid;
}

#bodyright ul
{
    margin-top: 80px;
}
#bodyright ul li
{
    color: black;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 20px;
    list-style: none;
}

#bodyright dl dt
{
    color: black;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 20px;
    list-style: none;
}

#bodyright dl dd
{
    color: black;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 10px;
    list-style: none;
}
#bodyright strong{
    font-size: 30px;
}

